pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
go_workspace/root/bin
go_workspace/root/pkg
node_modules/
output/
downloadPages/
pkg/
node_workspace/genCard/gundamWar/
# goglang ide
goapp/.idea/
cache/
package-lock.json
build/
tmp/
.vscode/


unity_workspace/cardcreator/unityDev/.vs
unity_workspace/cardcreator/unityDev/Library/
unity_workspace/cardcreator/unityDev/Logs/
unity_workspace/cardcreator/unityDev/Packages/
unity_workspace/cardcreator/unityDev/Temp/
unity_workspace/cardcreator/unityDev/UnityPackageManager/