{:optimizations :none, :asset-path "main.out", :output-dir "/Users/hanyu/.boot/cache/tmp/Users/hanyu/Documents/git/particle/cljs_workspace2/app/5wa/ky97aa/main.out", :output-to "/Users/hanyu/.boot/cache/tmp/Users/hanyu/Documents/git/particle/cljs_workspace2/app/5wa/ky97aa/main.js", :main boot.cljs.main3372, :warning-handlers [#object[adzerk.boot_cljs.impl$compile_cljs$handler__781 0x2487a725 "adzerk.boot_cljs.impl$compile_cljs$handler__781@2487a725"]]}