{:target :nodejs, :optimizations :simple, :asset-path "main.out", :output-dir "/Users/hanyu/.boot/cache/tmp/Users/hanyu/Documents/git/particle/cljs_workspace2/node/gfu/-dybqr8/main.out", :output-to "/Users/hanyu/.boot/cache/tmp/Users/hanyu/Documents/git/particle/cljs_workspace2/node/gfu/-dybqr8/main.js", :main boot.cljs.main660, :warning-handlers [#object[adzerk.boot_cljs.impl$compile_cljs$handler__781 0x8d89bdd "adzerk.boot_cljs.impl$compile_cljs$handler__781@8d89bdd"]]}