{:target :nodejs, :optimizations :simple, :asset-path "main.out", :output-dir "C:\\Users\\johny\\.boot\\cache\\tmp\\Documents\\git\\particle\\cljs_workspace\\node\\8b8\\-8o29y\\main.out", :output-to "C:\\Users\\johny\\.boot\\cache\\tmp\\Documents\\git\\particle\\cljs_workspace\\node\\8b8\\-8o29y\\main.js", :main boot.cljs.main3907, :warning-handlers [#object[adzerk.boot_cljs.impl$compile_cljs$handler__783 0x676522f "adzerk.boot_cljs.impl$compile_cljs$handler__783@676522f"]]}