<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<title>余氏k線圖</title>
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width , user-scalable=no">
	
	<link rel="stylesheet" type="text/css" href="js/lib/jquery-easyui-1.4.3/themes/black/easyui.css">
	<link rel="stylesheet" type="text/css" href="js/lib/jquery-easyui-1.4.3/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
		
	<script type="text/javascript" src="js/lib/leo.utils.js"></script>
	<script type="text/javascript" src="js/lib/jquery-easyui-1.4.3/jquery.min.js"></script>
	<script type="text/javascript" src="js/lib/jquery-easyui-1.4.3/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="js/lib/jquery/jquery.tmpl.min.js"></script>
	<script type="text/javascript" src="js/lib/myapp.facebook.js"></script>
</head>
<style>
body{
	position:absolute;
	width:100%;
	height:100%;
}

.btn_controller{
	width:15px; 
	height:15px; 
	display:inline-block; 
	cursor:pointer;
}
.line{
	position:relative; 
	width:99%; 
	margin-bottom:5px;  
	text-align:center; 
	border-bottom:1px solid lightgray;
}

.hori{
	position:relative; 
	left:0; 
	top:0; 
	display:inline-block;
}
</style>

<script id="tmpl_panel" type="jquery-x-tmpl">
	{{if type == 'clock'}}
	<div class="easyui-layout" style="width:100%;height:435px; left:0; top:0;">
	{{/if}}
	{{if type == 'volume'}}
	<div class="easyui-layout" style="width:100%;height:130px; left:0; top:0;">
	{{/if}}
	{{if type == 'kline' || type == 'none'}}
	<div class="easyui-layout" style="width:100%;height:330px; left:0; top:0;">
	{{/if}}
		<div id="mc_propContainer" data-options="region:'west',split:true,collapsed:true" title="參數列" style="width:400px; padding:5px;">
			<!-- for script created -->
		</div>
		<div class="canvasContainer" style="width:100%; height:100%;" data-options="region:'center'">
			<div style="position:relative; width:100%; height:100%; top:0; left:0; background-color:black; ">
				{{if type == 'clock'}}
				<canvas id="canvas_kline" width=400 height=400 style="position:absolute; left:50%; margin-left:-200px; top:0;"></canvas>
				{{/if}}
				{{if type == 'volume'}}
				<canvas id="canvas_kline" height=100 style="position:absolute; left:0; top:0;"></canvas>
				{{/if}}
				{{if type == 'kline' || type == 'none'}}
				<canvas id="canvas_kline" height=300 style="position:absolute; left:0; top:0;"></canvas>
				{{/if}}
			</div>
			<div style="position:absolute; right:30px; top:5px; ">
				{{if type == 'kline' || type == 'none'}}
				<div style="position:relative; display:inline-block;">
					<input id="slt_showKline" class="easyui-switchbutton" checked>
				</div>
				<div style="position:relative; display:inline-block; ">
					<a href="#" id="btn_removePanel" class="easyui-linkbutton" data-options="iconCls:'icon-remove'">刪除</a>
				</div>
				{{/if}}
			</div>
		</div>
	</div>
</script>
<script id="tmpl_avg" type="jquery-x-tmpl">
	<div style="position:relative; width:100%; min-width:360px;  margin-bottom:5px;">
		<div style="position:relative; display:inline-block; width:40px; ">
			<select id=${nid} class="easyui-textbox" style="width:100%;"></select>
		</div>
		<div style="position:relative; display:inline-block; width:40px; ">
			<select id=${mid} class="easyui-textbox" style="width:100%;"></select>
		</div>
		<div style="position:relative; display:inline-block; width:40px; ">
			<select class="easyui-textbox" style="width:100%;"></select>
		</div>
		<div style="position:relative; display:inline-block; width:40px; ">
			<select class="easyui-textbox" style="width:100%;"></select>
		</div>
		<div style="position:relative; display:inline-block; width:70px; ">
			<input id=${sid} ktype=${type} class="easyui-switchbutton" checked>
		</div>
		<div ptype=${type} class="easyui-tooltip" style="position:relative; display:inline-block; width:60px; text-align:center;">${domName}</div>
		{{if url == ''}}
		{{else}}
		<div class="hori">
			<a href=${url} class="easyui-linkbutton" data-options="iconCls:'icon-search'"  target="_blank" ></a>
		</div>
		{{/if}}
	</div>
</script>
<script id="tmpl_group_line" type="jquery-x-tmpl">
	<div style="position:relative; width:99%; margin-bottom:5px;  text-align:center; border-bottom:1px solid lightgray;">
		${name}
	</div>
</script>
<body>
	<div id="mc_rootPanel" class="easyui-layout" style="width:100%;height:100%; left:0; top:0;">
        <div data-options="region:'north'" style="height:40px; padding:5px;">
			<div style="position:relative; float:left;">
				
				<div class="hori">
					 <a href="#" id="toggle_favor" class="easyui-linkbutton easyui-tooltip" data-options="iconCls:'icon-heart',toggle:true"></a>
				</div>
				<div class="hori" style="margin-right:10px;">
					<select id="combo_favor" class="easyui-combobox" style="width:50px;" name="state" data-options="prompt:'關注'"></select>
					<select id="combo_prefer" class="easyui-combobox" style="width:100px;" name="state" data-options="prompt:'台灣50股票'"></select>
					<select id="slt_stockId" class="easyui-textbox" style="width:50px;" data-options="prompt:'輸入代碼'"></select>
					<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" ></a>
				</div>
				<div class="hori">
					<a href="#" id="btn_addPanel" class="easyui-linkbutton easyui-tooltip" data-options="iconCls:'icon-add'">指標</a>
				</div>
				<div class="hori" style="margin-right:10px;">
					<div class="hori">數量</div>
					<div class="hori" style="width:50px; ">
						<select id="txt_count" class="easyui-textbox" style="width:100%;"></select>
					</div>
					<div class="hori">偏移</div>
					<div class="hori" style="width:50px; ">
						<select id="txt_offset" class="easyui-textbox" style="width:100%;"></select>
					</div>
				</div>
				<!--
				<div class="hori">
					<a href="#" class="easyui-menubutton" data-options="menu:'#menu_observer',iconCls:'icon-edit'">觀察</a>
				</div>
				-->
				
				<div id="btn_period" class="hori" style="margin-right:10px;">
					<a ptype="d" href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g1'">日</a>
					<a ptype="w" href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g1'">週</a>
					<a ptype="m" href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g1'">月</a>
				</div>
				<div id="btn_controller" class="hori" style="vertical-align:middle; ">
					<div id="btn_first" class="btn_controller pagination-first easyui-tooltip"></div>
					<div id="btn_prev10" class="btn_controller pagination-prev easyui-tooltip"></div>
					<div id="btn_prev" class="btn_controller pagination-prev easyui-tooltip"></div>
					<div id="btn_next" class="btn_controller pagination-next easyui-tooltip"></div>
					<div id="btn_next10" class="btn_controller pagination-next easyui-tooltip"></div>
					<div id="btn_last" class="btn_controller pagination-last easyui-tooltip"></div>
				</div>
			</div>
			<div style="position:relative; float:right">
				<div class="hori">
					<a href="#" id="btn_save" class="easyui-linkbutton" data-options="iconCls:'icon-save'">同步</a>
				</div>
				<div class="hori">
					<a href="#" id="btn_login" class="easyui-linkbutton" data-options="iconCls:'icon-fb-login'">登入</a>
					<a href="#" id="btn_logout" class="easyui-linkbutton" style="display:none;" data-options="iconCls:'icon-fb-login'">登出</a>
				</div>
				<div class="hori">
					<a id="btn_about" href="#" class="easyui-linkbutton" style="display:;" data-options="iconCls:'icon-help'"></a>
				</div>
			</div>
			
		</div>
        <div id="mc_mainContainer" data-options="region:'center'">
			<div id="mc_accordionContainer" class="easyui-accordion" data-options="multiple:true" style="width:100%;height1:100%;">
				<!-- for script created -->
			</div>
        </div>
		<div data-options="region:'east',split:true,title:'功能',collapsed:true" style="width:450px; height:100%;">
			<div class="easyui-tabs" data-options="tabWidth:'215px'" style="width:100%;">
				<div title="資訊" style="width:100%; height:100%;">
					<table id="table_stockPrice" class="easyui-datagrid" data-options="singleSelect:true,collapsible:true" style="width:100%;">
						<thead>
							<tr>
								<th data-options="field:'date',width:100,align:'center'">日期</th>
								<th data-options="field:'start',width:60,align:'center'">開盤</th>
								<th data-options="field:'top',width:60,align:'center'">最高價</th>
								<th data-options="field:'bottom',width:60,align:'center'">最低價</th>
								<th data-options="field:'close',width:60,align:'center'">收盤價</th>
								<th data-options="field:'volume',width:80,align:'center'">量</th>
							</tr>
						</thead>
					</table>
					<div style="position:relative; width:100%; top:0px;">
						<div class="line" style="margin-top:30px; ">NOTE</div>
						<input id="txt_note" class="easyui-textbox" data-options="multiline:true" style="width:100%; height:200px;"></input>
					</div>
				</div>
				<div title="機器人" style="padding:10px;">
					<div style="display:inline-block; text-align:center; width:100%; ">
						敬請期待~
					</div>
					
				</div>
			</div>
		</div>
		<div id="dia_about" class="easyui-dialog" title="余氏k線圖" data-options="iconCls:'icon-help'" style="padding:10px">
			<div id="mc_txtContainer" style="position:relative; width:100%; height:100%; text-align:center;"></div>
		</div>
				
		<div id="menu_observer" style="width:150px;">
			<div>日線</div>
			<div>週線</div>
			<div>月線</div>
			<div class="menu-sep"></div>
			<div>返回最新</div>
			<div>下20K</div>
			<div>下1日</div>
			<div>上1日</div>
			<div>上20K</div>
			<div>返回最早</div>
			<!--
			<div>
				<span>Toolbar</span>
				<div>
					<div>Address</div>
					<div>Link</div>
					<div>Navigation Toolbar</div>
					<div>Bookmark Toolbar</div>
					<div class="menu-sep"></div>
					<div>New Toolbar...</div>
				</div>
			</div>
			<div data-options="iconCls:'icon-remove'">Delete</div>
			-->
		</div>
    </div>
	<script type="text/javascript" src="js/lib/async.js"></script>
	<script type="text/javascript" src="js/lib/rx.all.min.js"></script>
	<script type="text/javascript" src="js/lib/three.min.js"></script>
	<script type="text/javascript" src="js/lib/underscore-min.js"></script>
	<script type="text/javascript" src="js/config.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
	<script type="text/javascript" src="js/cljs/goog/base.js"></script>
	<script type="text/javascript" src="js/cljs/cljs.js"></script>
	<script type="text/javascript" src="js/api.js"></script>
	<script type="text/javascript">
	goog.require("app.stock.main")
	</script>
	<script type="text/javascript" src="js/haxe.js"></script>
</body>
</html>