<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<title>proj</title>
	<meta name="description" content="" />
	
	<link rel="stylesheet" type="text/css" href="js/lib/jquery-easyui-1.4.3/themes/black/easyui.css">
	<link rel="stylesheet" type="text/css" href="js/lib/jquery-easyui-1.4.3/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="js/lib/jquery-easyui-1.4.3/demo/demo.css">
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
		
	<script type="text/javascript" src="js/lib/jquery-easyui-1.4.3/jquery.min.js"></script>
	<script type="text/javascript" src="js/lib/jquery-easyui-1.4.3/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="js/lib/jquery/jquery.tmpl.min.js"></script>
</head>
<style>
body{
	position:absolute;
	width:100%;
	height:100%;
	padding:0;
}
</style>
<script id="tmpl_panel" type="jquery-x-tmpl">
	<div class="easyui-layout" style="width:100%;height:190px; left:0; top:0;">
		<div data-options="region:'north'" style="height:40px; padding:5px;">
			<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-remove'" onclick="onHtmlTrigger('removePanel',event);">刪除</a>
		</div>
		<div id="mc_propContainer" data-options="region:'west',split:true" title="顯示" style="width:300px; padding:10px;">
			<!-- for script created -->
		</div>
		<div class="canvasContainer" style="width:100%; height:100%;" data-options="region:'center',title:'k線'">
			<canvas id="canvas_kline" width=2000 height=100 style="position:relative; left:0; top:0;"></canvas>
		</div>
	</div>
</script>
<script id="tmpl_avg" type="jquery-x-tmpl">
	<div style="position:relative; width:100%; margin-bottom:5px;">
		<div style="position:relative; display:inline-block; width:70px; ">
			<input id=${sid} class="easyui-switchbutton" checked>
		</div>
		<div style="position:relative; display:inline-block; width:40px; ">
			<select id=${vid} class="easyui-textbox" style="width:100%;"></select>
		</div>
		{{if type == 'avg' }}
		<div style="position:relative; display:inline-block; width:70px; ">日均</div>
		{{/if}}
		{{if type == 'kd' }}
		<div style="position:relative; display:inline-block; width:70px; ">KD</div>
		{{/if}}
	</div>
</script>
<body>
	<div id="mc_rootPanel" class="easyui-layout" style="width:100%;height:100%; left:0; top:0;">
        <div data-options="region:'north',split:false,title:'余氏k線圖'" style="height:70px; padding:5px;">
			<select id="slt_stockId" class="easyui-textbox" style="width:70px;"></select>
			<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add'" onclick="onHtmlTrigger('addPanel')">新增K線</a>
		</div>
        <div id="mc_mainContainer" data-options="region:'center',title:'內容'">
			<div id="mc_accordionContainer" class="easyui-accordion" data-options="multiple:true" style="width:100%;height1:100%;">
				<div title="逆時鐘曲線" style="width:100%;height:420px; left:0; top:0;">
					<canvas id="canvas_clock" width=400 height=400 style="position:relative; left:50%; margin-left:-200px; top:0;"></canvas>
				</div>
				<div title="成交量" style="overflow:auto;">
					<div id="mc_exchange" class="easyui-layout" style="width:100%;height:130px; left:0; top:0;" >
						<div id="mc_propContainer" data-options="region:'west',split:true" title="顯示" style="width:300px; padding:10px;">
							<!-- for script created -->
						</div>
						<div data-options="region:'center'">
							<canvas id="canvas_exchange" width=2000 height=100 style="position:relative;"></canvas>
						</div>
					</div>
				</div>
				<div title="k線" style="overflow:auto;">
					<div id="mc_kline" class="easyui-layout" style="width:100%;height:460px; left:0; top:0;">
						<div id="mc_propContainer" data-options="region:'west',split:true" title="顯示" style="width:300px; padding:10px;">
							<!-- for script created -->
						</div>
						<div class="canvasContainer" style="width:100%; height:100%;" data-options="region:'center'">
							<canvas id="canvas_kline" width=2000 height=400 style="position:relative; left:0; top:0;"></canvas>
						</div>
					</div>
				</div>
			</div>
			
            
        </div>
						
		<div id="mm1" style="width:100px;">
			<div data-options="iconCls:'icon-add'" onclick="addPanel();">新增</div>
		</div>
		<div id="mm2" style="width:100px;">
			<div>Help</div>
			<div>Update</div>
			<div>About</div>
		</div>
		<div id="mm3" class="menu-content" style="background:#f0f0f0;padding:10px;text-align:left">
			<img src="http://www.jeasyui.com/images/logo1.png" style="width:150px;height:50px">
			<p style="font-size:14px;color:#444;">Try jQuery EasyUI to build your modern, interactive, javascript applications.</p>
		</div>
    </div>
	<!--
	<div id="w" class="easyui-window" title="Basic Window" data-options="iconCls:'icon-save'" style="width:500px;height:200px;padding:10px;">
        The window content.
    </div>
	-->
	<script src='js/lib/async.js'></script>
	<script src='js/lib/rx.all.min.js'></script>
	<script src='js/lib/three.min.js'></script>
	<script src='js/lib/underscore-min.js'></script>
	<script src='js/common.js'></script>
	<script src='js/cljs/goog/base.js'></script>
	<script src='js/cljs/cljs.js'></script>
	
	<script>
	goog.require("app.stock.main")
	</script>
	
	<script id="view-command">
	// kline, volume, clock
	// {}
	// draw($("#canvas_kline")[0], 2330, null, {sub:[{t: "ma", d: {n: 5, color: "blue"}}, {t: "ma", d: {n: 10, color: "yellow"}} ]})
	
	// draw($("#canvas_kline")[0], 2330, "volume", {sub:[{t: "ma", d: {n: 5, color: "blue"}}, {t: "ma", d: {n: 10, color: "yellow"}} ]})
	
	var cbid = 0
	var cbs = {}
	
	function draw( canvas, id, type, params ){
		console.log( canvas );
		params.canvas = canvas
		params.id = id
		params.type = type
		common.onView.onNext(["draw", params])
	}
	
	function stockId( id, reset, cb ){
		var params = {
			id: id,
			date: "2015/1/1",
			reset: reset
		}
		params.cbid = cbid++
		cbs[ params.cbid+"" ] = cb
		common.onView.onNext(["stockId", params])
	}
	
	function print(){
		common.onView.onNext(["print"])
	}
	</script>
	
	<script id="test">
	
	common.onModel.subscribe(function(param){
		var type = param[0]
		var data = param[1]
		var request = data.request
		if( cbs[request.cbid] ){
			cbs[request.cbid]( data )
			delete cbs[request.cbid]
		}
	})
	
	common.onView.subscribe(function(data){
		console.log( data )
	})
	/*
	setTimeout(function(){
		
		stockId( 2330, false, function(){
			
			draw($("#canvas_exchange")[0], 2330, "volume", 
				{
					sub:[
						{t: "ma", d: {n: 5, color: "blue"}}
					]
				}
			)
			
			draw($("#canvas_clock")[0], 2330, "clock", {})
			
			draw($("#canvas_kline")[0], 2330, null, 
				{
					sub:[
						{t: "ma", d: {n: 5, color: "blue"}}, 
						{t: "ma", d: {n: 10, color: "yellow"}} 
					]
				}
			)
			
		})
		
	}, 1000)
	
	*/
	</script>
	
	<script src="js/haxe.js"></script>
</body>
</html>