<html>

<head>
    {{template "htmlHeader"}}
</head>

<body>
    <div class="easyui-layout" style="width:100%;height:100%;">
        <div data-options="region:'west',title:'',split:true" style="width:200px;">
            {{template "header" .}}
        </div>
        <div data-options="region:'center',title:''" style="padding:5px;">
            <h1>擴充包上傳說明</h1>
            <ol>
                <li>
                    下載<a
                        href="https://storage.googleapis.com/particle-resources/files/%E4%B8%89%E5%9C%8B%E5%BF%97%E5%A4%A7%E6%88%B0%E6%93%B4%E5%85%85%E5%8C%85%E7%A4%BA%E7%AF%84.zip">三國志大戰擴充包示範.zip</a>
                </li>
                <li>
                    解壓並修改內容
                </li>
                <li>
                    重新打包成zip(注意, 檔案結構要和下載時一樣)
                </li>
                <li>
                    畫面左側選擇上傳檔案選完後按上傳
                </li>
            </ol>
            <h1>上傳限制</h1>
            <ol>
                <li>
                    每個擴充包大小不能超過5MP
                </li>
                <li>
                    擴充包數量最大限制為3個, 會示使用情況調整
                </li>
            </ol>
        </div>
    </div>
</body>

</html>