<html>
    <head>
        {{template "htmlHeader"}}
    </head>
    <body>
        
        {{$imgs := .imgs}}

        <div class="easyui-layout" style="width:100%;height:100%;">
            <div data-options="region:'west',title:'West',split:true" style="width:200px;">
                {{template "header" .}}
            </div>
            <div data-options="region:'center',title:'center title'" style="padding:5px;">
                <h1>{{.fileName}}</h1>
                {{.game}}
                {{.extensionName}}
                {{.extensionDescribe}}
                
                <h2>detail</h2>
                <table class="easyui-datagrid">
                    <thead>
                        <th data-options="field:'x'">Num</th>
                        <th data-options="field:'x2'">Name</th>
                        {{range $j, $info := index .infos 0}}
                            <th data-options={{(print "field:'" $j "'")}}>
                                info[{{ $j }}]
                            </th>
                        {{end}}
                    </thead>
                    <tbody>
                        {{range $i, $cardInfos := .infos}}
                            {{$imgName := index $cardInfos 0}}
                            {{$img := index $imgs $imgName}}
                            <tr>
                                <td>
                                第{{$i}}張
                                </td>
                                <td>
                                    <img width=100 src={{(print "data:image;base64," $img)}}>
                                </td>
                                {{range $j, $info := $cardInfos}}
                                    <td>
                                        {{$info}}
                                    </td>
                                {{end}}
                            </tr>
                        {{end}}
                    </tbody>
                </table>
                <form action="" method="POST">
                    <input type="submit" value="確認導入">
                </form>
                <a href={{(print "/tcgdbfile2/root/tcg/extensionZip/" .id "/" .fileName)}} class="easyui-linkbutton">下載</a>
            </div>
        </div>
    </body>
</html>