body{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline: 0;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.outline_1{
	outline: 1px;
	outline-style: solid;
}
.lock{
	pointer-events:none;
}
.group{
	position:relative;
	width:100%;
}
.left{
	left:0;
}
.top{
	top:0;
}
.right{
	right:0;
}
.bottom{
	bottom:0;
}
.center{
	text-align:center;
}
.vgap_5{
	padding-top:5
}
.hori{
	display:inline-block;
}
.hide{
	display:none;
}
.full{
	width:100%;
	height:100%;
}
.hfull{
	width:100%;
}
.vfull{
	height:100%;
}
.half{
	width:49.8%;
	height:49.8%;
}
.hhalf{
	width:49.8%;
}
.vhalf{
	height:49.8%;
}
.rel{
	position:relative;
}
.abs{
	position:absolute;
}
.inherit{
	position:inherit;
}
.fix{
	position: fixed;
}
.pivot{
	width:0; 
	height:0;
}
.lightcoral{
	background-color: lightcoral;
}
.lightgreen{
	background-color: lightgreen;
}
.lightblue{
	background-color: lightblue;
}
.gray{
	background-color: gray;
}